<%- include('../partials/header'); -%>
<%- include('../partials/flash'); -%>

<h1 class="mb-4">Editar dashboard</h1>

<form action="/courseDashboards/<%= dashboard._id %>?_method=PUT" method="POST" class="mb-4">
    <div class="mb-3">
        <label for="title" class="form-label fs-4">Título do dashboard:</label>
        <input type="text" class="form-control mb-3" name="dashboard[title]" id="title"
            aria-describedby="dashboard-title" value="<%= dashboard.title %>" required>
        <label for="environmentUrl" class="form-label fs-4">Ambiente da disciplina:</label>
        <input type="text" class="form-control mb-3" name="dashboard[environmentUrl]" id="environmentUrl"
            aria-describedby="dashboard-environmentUrl" value="<%= dashboard.environmentUrl %>">
        <label for="forumUrl" class="form-label fs-4">Fórum da disciplina:</label>
        <input type="text" class="form-control mb-3" name="dashboard[forumUrl]" id="forumUrl"
            aria-describedby="dashboard-forumUrl" value="<%= dashboard.forumUrl %>">
        <div class="btn btn-outline-primary">Adicionar aula</div>
        <div class="bg-secondary p-4 rounded mb-3 d-none">
            <div class="bg-light rounded mb-2">
                <h4 class="text-center">Aulas</h4>
            </div>
            <ul class="list-group" id="classList">
                <% //for (let i = 0; i < 10; i++) { %>
                <li class="list-group-item bg-dark mb-2 p-3">
                    <h5 class="text-light text-decoration-underline text-center mb-3">Aula 1</h5>
                    <div class="mb-3">
                        <input class="form-control" type="text" id="nomeAula1" name="nomeAula1"
                            placeholder="Nome da aula">
                    </div>
                    <h5 class="text-light">Vídeos</h5>
                    <label class="form-label text-secondary" for="inputGroupSelect01">
                        <h6>Vídeo 1:</h6>
                    </label>
                    <select class="form-select mb-3" id="inputGroupSelect01">
                        <option value="0">Nenhum</option>
                        <% for (let video of dashboard.videos) { %>
                        <option value="<%= video.videoId %>"><%= video.title %></option>
                        <% } %>
                    </select>
                    <div class="mb-3 d-flex justify-content-start">
                        <div class="btn btn-success me-2">Adicionar vídeo</div>
                        <div class="btn btn-success">Adicionar outro material de apoio</div>
                    </div>
                </li>
                <% //} %>
            </ul>
            <div class="btn btn-success" id="newClass">Adicionar aula</div>
            <!-- <% //for (let video of dashboard.videos) { %>
            <div class="row bg-light rounded mb-2 p-3">
                <h5><%= //video.title %></h5>
                <label for="aula-<%= //video.id %>" class="form-label"><%= //video.id %></label>
                <input type="url" id="aula-<%= //video.id %>" class="form-control">
            </div>
            <% //} %> -->
        </div>
        <!-- <h4>Aula 1</h4>
        <label for="form-control mb-3" class="form-label">
            <h5>Título:</h5>
        </label>
        <input type="text" class="form-control mb-3" name="class1[title]" id="class1"
            aria-describedby="dashboard-class1" value="">
        <h5>Vídeos</h5>
        <label class="for-control mb-3" for="inputGroupSelect01">
            <h6>Vídeo 1:</h6>
        </label>
        <select class="form-select mb-3" id="inputGroupSelect01">
            <option selected>Amplificadores Operacionais</option>
            <option value="1">Vídeo 2</option>
            <option value="2">Vídeo 3</option>
            <option value="3">Vídeo 4</option>
        </select>
        <div>
            <span class="btn btn-outline-success" id="newVideo">Novo vídeo</span>
        </div>
    </div> -->
        <!-- <h4>Vídeos na playlist:</h4>
        <ol class="list-group list-group-numbered mb-4">
            <% for (let video of dashboard.videos) { %>
            <li class="list-group-item">
                <a class="link-primary"
                    href="/courseDashboards/<%= dashboard._id %>/<%= video._id %>"><%= video.title %> -
                    <%= video.videoId %></a>
            </li>
            <% } %>
        </ol> -->
        <button type="submit" class="btn btn-outline-success">Salvar</button>
        <a class="btn btn-outline-secondary" href="/courseDashboards/<%= dashboard._id %>/dash/0" target="_blank">Ver
            dashboard</a>
</form>
<form class="d-inline" action="/courseDashboards/<%= dashboard._id %>?_method=DELETE" method="POST">
    <button class="btn btn-outline-danger">Deletar dashboard</button>
</form>
<!-- action="/campgrounds/<%= //campground._id %>?_method=DELETE" -->


<script>
    const countClasses = () => {
        const classList = document.getElementById("classList");
        const numberOfClasses = document.querySelectorAll("#classList > li").length;
        console.log("# of classes is " + numberOfClasses);
        return numberOfClasses;
    };
    const addNewClass = () => {
        const numberOfClasses = countClasses();
        let newClass = document.createElement("li");
        newClass.classList.add("list-group");
        newClass.classList.add("bg-dark");
        newClass.classList.add("mb-2");
        newClass.classList.add("p-3");
        newClass.innerHTML = `
                    <h5 class="text-light text-decoration-underline text-center mb-3">Aula ${numberOfClasses + 1}</h5>
                    <div class="mb-3">
                        <input class="form-control" type="text" id="nomeAula1" name="nomeAula1"
                            placeholder="Nome da aula">
                    </div>
                    <h5 class="text-light">Vídeos</h5>
                    <label class="form-label text-secondary" for="inputGroupSelect01">
                        <h6>Vídeo 1:</h6>
                    </label>
                    <select class="form-select mb-3" id="inputGroupSelect01">
                        <option value="0">Nenhum</option>
                        <% for (let video of dashboard.videos) { %>
                        <option value="<%= video.videoId %>"><%= video.title %></option>
                        <% } %>
                    </select>
                    <div class="mb-3 d-flex justify-content-start">
                        <div class="btn btn-success me-2">Adicionar vídeo</div>
                        <div class="btn btn-success">Adicionar outro material de apoio</div>
                    </div>
                    <div class="btn btn-danger remove-class" id="removeClassBtn:${numberOfClasses}">Remover aula</div>`;
        classList.appendChild(newClass);
        removeClassButtons = document.querySelectorAll(".remove-class");
        console.log(removeClassButtons);
        removeClassButtons.forEach(el => {
            classElement = el.parentElement;
            el.addEventListener("click", removeClass);
        });
    };
    const removeClass = el => {
        classElement.remove();
        removeClassButtons = document.querySelectorAll(".remove-class");
        console.log(removeClassButtons);
        removeClassButtons.forEach(el => {
            classElement = el.parentElement;
            el.addEventListener("click", removeClass);
        });
    }
    const newClassButton = document.getElementById("newClass");
    let classElement;
    newClassButton.addEventListener("click", addNewClass);
    let removeClassButtons = document.querySelectorAll(".remove-class");
    console.log(removeClassButtons);
</script>

<%- include('../partials/footer'); -%>